* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-font: FibelNordRegular;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.left-side {
    background-image: url('assets/background-img.jpg');
    background-size: cover;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

.left-side .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.left-side .container p {
    font-family: var(--logo-font);
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.left-side p.bottom{
    position: absolute;
    bottom: 15px;
}

.left-side p a {
    color: white;
}

.right-side {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

.right-side .header {
    font-weight: bold;
    font-size: 20px;
    width: 60%;
    margin: 120px 0 0 40px;
}

.right-side .header p {
    margin-bottom: 30px;
}

.right-side .input-section {
    background-color: white;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.right-side .input-section p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

form label {
    text-transform: uppercase;
    font-size: 13px;
}

form input {
    width: 260px;
    height: 28px;
    border: 1px solid gray;
    border-radius: 4px;
}

form input:focus{
    border: 3px solid blue;
    outline: none;
    box-shadow: 0 6px 2px 0 rgba(0,0,0,0.6);
}

.right-side .input-section form p {
    color: red;
    font-size: 11px;
}

.right-side .submit-section {
    
}